{% if ok %}
<p style="color: green;">{{ message }}</p>
{% else %}
<p style="color: red;">{{ message }}</p>
{% endif %}

<h1>Sign up page</h1>

<form method="POST" action="{% url 'accounts:signup' %}">
  {% csrf_token %}
  <label>Username</label>
  <input type="text" name="username" />
  <br/>
  <label>Email</label>
  <input type="text" name="email" />
  <br/>
  <label>Password</label>
  <input type="password" name="password" />
  <br/>
  <label>Password Confirmation</label>
  <input type="password" name="password_confirmation" />
  <br/>
  <input type="submit" value="Sign up now!" />
</form>
